.section__hero {
    background-color: var(--bg-header-footer);
}

.section__hero {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 3rem 3rem 8rem 3rem;
}

.section__hero-text {
    max-width: 80rem;
}

.section__hero-title {
    color: var(--sw-coffee-white);
    font-size: 8rem;
    font-weight: bolder;
}

.section__hero-subtitle {
    color: var(--sw-grey);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.section__hero img {
    width: 70rem;
    height: 40rem;
}

.cta__container-text-title {
    font-size: 4rem;
    color: var(--sw-coffee-white);
}

.cta__container-text-p {
    font-size: 3rem;
    color: var(--sw-coffee-white);
}

.cta__button,
.section__hero-button,
.cta__container {
    background-color: var(--sw-coffee-blue);
}

.section__hero-button {
    border-style: none;
}

.cta__button {
    border-style: solid;
    border-color: var(--sw-coffee-white);
}

section.info {
    padding-bottom: 7em;
}

.main__title {
    font-size: 6rem;
    font-weight: bolder;
    color: var(--bg-header-footer);
    text-align: center;
    padding: 45px 0;
}

.main__image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main__image>figure:not(:last-child) {
    margin-right: 6rem;
}

figcaption {
    margin-top: 1rem;
}

.main__image--blue {
    aspect-ratio: 1 / 1;
    width: 30rem;
    height: 30rem;
    border: 4px solid var(--sw-coffee-blue);
    border-radius: 8%;
}

.main__text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
    padding: 0 12em;
}

.main__text--black {
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.testimonial {
    display: flex;
    justify-content: center;
    background-color: var(--sw-grey);
    padding: 18rem;
    width: 100%;
}

.testimonial h2 {
    display: none;
}

.testimonial__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 67%;
}

.testimonial__quote {
    font-size: 6rem;
    font-style: italic;
    font-weight: lighter;
    color: var(--bg-header-footer);
}

.testimonial__author {
    align-self: flex-end;
    font-size: 4rem;
    font-weight: 800;
    color: var(--bg-header-footer);
}

.main__image--blue:hover,
.cta__button:hover {
    opacity: var(--btn-hover-opacity);
}

.cta__section {
    display: flex;
    justify-content: center;
    margin: 12rem;
}

.cta__container {
    display: flex;
    justify-content: space-evenly;
    padding: 9rem 3rem;
    margin: 5em;
    border-radius: 10px;
    padding: 8rem 16rem;
    width: 80%;
}

.cta__container-text-title {
    font-weight: bolder;
}

@media screen and (min-width: 320px) and (max-width: 935px) {
    .cta__section {
        padding: 0;
        margin: 1rem 0;
    }

    .cta__container {
        flex-direction: column;
    }

    .cta__container-text-p {
        margin: 1rem 0;
    }

    .section__hero-text {
        text-align: center;
    }

    .section__hero-button {
        margin: 2rem 0;
    }

    .main__image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
    }

    .main__image--blue {
        width: calc(35rem - 4rem);
        margin: 2rem;
    }

    .main__image>figure:not(:last-child) {
        margin-right: 0;
    }

    .main__text--black {
        font-size: 3rem;
    }

    .testimonial {
        padding: 12rem;
    }

    .testimonial__text-container {
        min-width: 100%;
    }
}

@media only screen and (max-width: 580px) {
    * {
        font-size: 4px;
    }

    .main__title {
        font-size: 28px;
    }

    .main__text--black {
        font-size: 10px;
    }

    .testimonial__quote {
        width: 100%;
        font-size: 4rem;
    }

    .main__image>figure:not(:last-child) {
        margin-right: 0;
    }

    .main__text--black {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1600px) {
    .section__hero {
        justify-content: center;
    }

    .section__hero-text {
        margin-right: 15%;
    }

    .testimonial__text-container {
        width: 42%;
    }

    .cta__container {
        width: 50%;
    }
}