
.about__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10rem;
}

.about__description {
    margin: 5rem;
 }

 .about__container img {
 }

p {
   font-size: 3rem;   
}

@media screen and (max-width: 424px) {
    .about__container img {
        display: none;
    }
}

@media screen and (max-width: 1380px) {
    .about__description {
        text-align: center;
    }
}